*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #7395de;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background: linear-gradient(to right, rgb(191, 41, 205), rgb(92, 2, 92));
}