section .image img{
  width: 40rem;
}
section .image{
  width: 50%;
}
section .text-info{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .text-info hr{
  width: 100%;
}
section .text-info h1{
  color: #fff;text-align: center;
  font-size: 50px;
}
section .text-info h2{
  text-align: center;
  font-size: 37px;
  margin-bottom: 1.5rem;
}
section .text-info p{
  margin: 1.5rem 0 4rem 0; 
}
section{
  display: flex;
  align-items: center;
  width: 1240px;
  margin: 0 auto;
  justify-content: space-between;
}
section .get-started-btn{
  width: 70%;
  height: 3rem;
  border-radius: 10px;
  border: solid 1px #7395de;
  background-color: transparent;
}